# Classification Task

In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('Iris.csv')  #read csv file using pandas
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [23]:
#Using sklearn OneHotEncoder --- convert string into int format for better accuracy
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [24]:
df.Species = le.fit_transform(df.Species)  #convert string into int type 
df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

In [25]:
setosa = df[df.Species == 0]  #string iris-setosa as 0 in int type
setosa.shape

(50, 6)

In [26]:
versicolor = df[df.Species == 1]  #string iris-versicolor as 1 in int type
versicolor.shape

(50, 6)

In [27]:
virginica = df[df.Species == 2]  #string iris-virginica as 2 in int type
virginica.shape

(50, 6)

In [28]:
df.groupby('Species').mean() #avg no. for all columns

            Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
0         25.5          5.006         3.418          1.464         0.244
1         75.5          5.936         2.770          4.260         1.326
2        125.5          6.588         2.974          5.552         2.026

From above mean table followings can be considered main points for variation in species:
1. SepalLengthCm
2. SepalWidthCm
3. PetalLengthCm
4. PetalWidthCm

In [29]:
X = df[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]  #seperate input columns
X

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [30]:
y = df.Species # output column
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int32

In [31]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True, intercept_scaling=1, max_iter=3000, 
                           multi_class='multinomial',n_jobs=1, penalty='l2', random_state=None, solver='sag', tol=0.0001,
                           verbose=0, warm_start=False)

note: "SAG" is prefered here rather than "Liblinear" because it support penalty(l2) which helps for more accurate module which is not supported in liblinear.

In [32]:
from sklearn.model_selection import train_test_split  #to estimate the performance of module

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X , y, test_size=0.2)  #Split arrays into random train and test subsets

In [34]:
model.fit(X_train, y_train) #fit X_train and y_train data into model

LogisticRegression(max_iter=3000, multi_class='multinomial', n_jobs=1,
                   solver='sag')

In [35]:
model.score(X_test, y_test)  #show score of model

1.0

In [36]:
model.predict(X_train)

array([0, 2, 0, 1, 0, 1, 0, 2, 1, 0, 2, 0, 2, 0, 2, 2, 0, 1, 2, 0, 1, 2,
       2, 2, 1, 0, 1, 1, 2, 2, 1, 0, 1, 2, 1, 2, 0, 0, 0, 2, 1, 2, 1, 2,
       1, 2, 0, 0, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2, 2, 2, 0, 0, 2, 0, 0, 0,
       1, 0, 1, 2, 2, 0, 0, 1, 2, 0, 1, 2, 2, 1, 2, 2, 0, 1, 2, 2, 0, 0,
       2, 2, 2, 2, 2, 1, 0, 1, 1, 1, 2, 1, 0, 1, 0, 0, 1, 2, 1, 2, 2, 0,
       2, 0, 2, 2, 1, 1, 0, 1, 0, 2])

In [37]:
# Confusion Matrix

In [38]:
y_predicted = model.predict(X_test)  #predictions on testing data

In [39]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_predicted)  #Compute confusion matrix to evaluate accuracy of a classification
cm

array([[14,  0,  0],
       [ 0,  9,  0],
       [ 0,  0,  7]], dtype=int64)

In [40]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_predicted))  #Build a text report showing the main classification metrics

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        14
           1       1.00      1.00      1.00         9
           2       1.00      1.00      1.00         7

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30